.history_content {
    flex: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.history_results {
    overflow: auto;
}

.history_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--spacing-large);
}

.history_date {
    font-size: var(--font-size-small);
    color: var(--secondary-color);
    padding-left: var(--spacing-large);
}

.extension_running .history_display {
    display: none;
}

.history_display_results_running {
    display: none;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

.extension_running .history_display_results_running {
    display: flex;
}

.url_display {
    font-size: var(--font-size-small);
    text-overflow: ellipsis;
    overflow: hidden;
    float: right;
    white-space: nowrap;
}

.history_text {
    font-size: var(--font-size-base);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: pre-wrap;
}

.history_separator {
    border: none;
    border-top: 1px solid gray;
    margin: var(--spacing-small) 0;
}

.history_entry_set_wrapper {
    border: 1px solid var(--border-color);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
    border-radius: var(--border-radius);
}

.prompt_result {
    padding: 12px;
}

.history_entry_setname_wrapper {
    display: inline-block;
    padding: 8px 24px;
}

