  .prompt_controls {
    display: flex;
    align-items: center;
    gap: var(--spacing-medium);
  }

  .prompt_helper_tab_panel_wrapper .gutter-horizontal {
    margin-top: 67px;
    margin-bottom: 8px;
  }

  .tabulator-cell.tabulator-editable textarea {
    overflow: hidden;
  }