  .prompt_controls {
    display: flex;
    align-items: center;
    gap: var(--spacing-medium);
  }

  .url_source_options {
    display: none;
  }

  .scrape_type_server_scrape .url_source_options {
    display: block;
  }

  .prompt_helper_tab_panel_wrapper .gutter-horizontal {
    margin-top: 67px;
    margin-bottom: 8px;
  }
