
.btn.show_main_page_btn {
    margin-bottom: 8px;  
    position: relative;
    top: 8px;
    border: none;
    left: -10px;
}

.query_source_text {
  width: 100%;
  resize: none;
  overflow: auto;
  border-color: white;
}

.extension_running .analysis_display {
  display: none;
}
