
.btn.show_main_page_btn {
    margin-bottom: 8px;  
    position: relative;
    top: 8px;
    border: none;
    left: -4px;
}

.extension_running .analysis_display {
  display: none;
}

.no_session_key_set .no_session_key_sidepanel {
  display: block;
}